<!--ReactiveFormsModule, from-group and from-control-->
<!--from-group : enitire from is an instance of from-group class-->
<!--from-control : each field is an instance of from-contol class -->
<!--fromControlName is used to create a communication between model and view-->
<h2>Registration Form</h2>
<div class="container-fluid">
  <!-- (ngSubmit)="onSubmit()"-->
  <form [formGroup]="registrationForm">
    {{ registrationForm.value | json }}

    <div class="form-group">
      <label>Username</label>
      <!--class binding for failed validation - is-invalid from bootstrap when username not valid and username field touched-->
      <!--Providing visual feedback-->
      <input
        [class.is-invalid]="
          registrationForm.get('userName')?.invalid &&
          registrationForm.get('userName')?.touched
        "
        type="text"
        formControlName="userName"
        class="form-control"
      />
      <!--Display error message if validarion fails : Hide/Display-none if valid or untouched-->
      <!--<small
        [class.d-none]="
          registrationForm.get('userName')?.valid ||
          registrationForm.get('userName')?.untouched
        "
        class="text-danger"
        >Username is required</small
      >-->
      <!--Handling different validations errors differently-->
      <div
        *ngIf="
          registrationForm.get('userName')?.invalid &&
          registrationForm.get('userName')?.touched
        "
      >
        <!--Error message for required validation-->
        <small
          *ngIf="registrationForm.get('userName')?.errors?.['required']"
          class="text-danger"
          >Username is required</small
        >
        <!--Error message for minlength validation-->
        <small
          *ngIf="registrationForm.get('userName')?.errors?.['minlength']"
          class="text-danger"
          >Username must be atlest 4 characters</small
        >
        <!--Error message for custom validation - forbidden name-->
        <small
          *ngIf="registrationForm.get('userName')?.errors?.['forbiddenName']"
          class="text-danger"
          >username
          {{registrationForm.get('userName')?.errors?.['forbiddenName'].value

          }}
          is not allowed</small
        >
      </div>
      <!--email is required if subscribe option is checked(conditional validation) using observable, onInit, ngOnInit-->
      <!--Using email getter-->
    </div>
    <div class="from-group">
      <label>Email</label>
      <!--Button to call addAlternateEmails()-->
      <button
        type="button"
        class="btn btn-secondary btn-sm m-2"
        (click)="addAlternateEmail()"
      >
        Add email
      </button>
      <input
        [class.is-invalid]="email?.invalid && email?.touched"
        type="text"
        formControlName="email"
        class="form-control"
      />
      <small
        class="text-danger"
        [class.d-none]="email?.valid || email?.untouched"
      >
        Email required to subsribe to promotional offers
      </small>
      <!--Add new alternate email fileds and render text box-->
      <div
        formArrayName="alternateEmails"
        *ngFor="let email of alternateEmails.controls; let i = index"
      >
        <input type="text" class="form-control my-1" [formControlName]="i" />
      </div>
    </div>

    <div class="form-check mb-3 mt-2 mr-2">
      <input
        type="checkbox"
        formControlName="subscribe"
        class="form-check-input"
      />
      <label class="form-check-label">Send me promotional offers</label>
    </div>

    <!--Cross validation applied on password and confirm passoword fields-->
    <div class="form-group">
      <label>Password</label>
      <input type="password" formControlName="password" class="form-control" />
    </div>
    <div class="from-group">
      <label>Confirm Password</label>
      <input
        [class.is-invalid]="registrationForm.errors?.['mismatch']"
        type="password"
        formControlName="confirmPassword"
        class="form-control"
      />
      <small class="text-danger" *ngIf="registrationForm.errors?.['mismatch']"
        >Passwords do not match</small
      >
    </div>

    <!--Nested form-group : nesting is done in component.ts-->
    <div formGroupName="address">
      <div class="form-group">
        <label>City</label>
        <input type="text" formControlName="city" class="form-control" />
      </div>
      <div class="form-group">
        <label>State</label>
        <input type="text" formControlName="state" class="form-control" />
      </div>
      <div class="form-group">
        <label>Postal Code</label>
        <input type="text" formControlName="postalCode" class="form-control" />
      </div>
    </div>
    <!--button is disabled until form data is valid : invalid data not accepted-->
    <button
      [disabled]="!registrationForm.valid"
      class="btn btn-primary ml-2"
      type="submit"
    >
      Register
    </button>
    <!--(click)="loadApiData()"-->
    <button class="btn btn-secondary ml-2" type="submit">Load API Data</button>
  </form>
</div>
